
@font-face {
font-family: "CM_XT5";
src: url('./iconfont.woff') format('woff'); 
}
.iconfont {
font-family:"CM_XT5" !important;
font-size:16px;
font-style:normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.iconacc:before { content: "\e652"; }
.iconback:before { content: "\e607"; }
.iconblock:before { content: "\e654"; }
.iconcontacts:before { content: "\e668"; }
.iconemail:before { content: "\e660"; }
.iconfiler:before { content: "\e661"; }
.iconflat:before { content: "\e659"; }
.iconflatcolor:before { content: "\e65a"; }
.iconletter:before { content: "\e662"; }
.iconlist:before { content: "\e65c"; }
.iconmore:before { content: "\e664"; }
.iconwrite:before { content: "\e667"; }
.icondrop:before { content: "\e657"; }
.icontabclose:before { content: "\e64f"; }
.iconprint:before { content: "\e65f"; }
.iconemailcontacts:before { content: "\e658"; }
.icondownload:before { content: "\e656"; }
.iconman:before { content: "\e663"; }
.iconupload:before { content: "\e665"; }
.iconwomen:before { content: "\e666"; }
.iconchoose:before { content: "\e655"; }
.icondown:before { content: "\e60e"; }
.iconleft:before { content: "\e60f"; }
.iconnext:before { content: "\e65d"; }
.iconprevious:before { content: "\e65e"; }
.iconright:before { content: "\e610"; }
.iconsreachm:before { content: "\e64d"; }
.iconup:before { content: "\e601"; }
.iconsmall:before { content: "\e64c"; }
.iconbig:before { content: "\e653"; }
.icongroup:before { content: "\e65b"; }
.iconstar:before { content: "\e64e"; }
.iconstarline:before { content: "\e6b5"; }
.iconpiccut:before { content: "\e651"; }
.iconshare:before { content: "\e650"; }
.iconspeaker:before { content: "\e63e"; }
.iconmessage:before { content: "\e63f"; }
.iconrecover:before { content: "\e63d"; }
.iconvideo:before { content: "\e63c"; }
.iconallfile:before { content: "\e64b"; }
.iconcopyflie:before { content: "\e639"; }
.iconfile:before { content: "\e63a"; }
.iconid:before { content: "\e63b"; }
.iconmusic:before { content: "\e64a"; }
.icondelword:before { content: "\e649"; }
.iconschedule:before { content: "\e648"; }
.iconjigsaw:before { content: "\e646"; }
.iconshield:before { content: "\e647"; }
.iconanroid:before { content: "\e643"; }
.iconapple:before { content: "\e644"; }
.iconcode:before { content: "\e686"; }
.iconsreachb:before { content: "\e642"; }
.iconlink:before { content: "\e69a"; }
.iconunfold:before { content: "\e600"; }
.iconcollapse:before { content: "\e60d"; }
.iconcloseall:before { content: "\e633"; }
.iconenlarge:before { content: "\e631"; }
.iconnarrow:before { content: "\e632"; }
.iconmovedown:before { content: "\e62f"; }
.iconmoveup:before { content: "\e630"; }
.iconpicture:before { content: "\e62e"; }
.iconupperlayer:before { content: "\e627"; }
.iconeye:before { content: "\e62b"; }
.iconadd:before { content: "\e629"; }
.iconremove:before { content: "\e62a"; }
.iconerror:before { content: "\e628"; }
.iconmark:before { content: "\e638"; }
.iconrevocation:before { content: "\e625"; }
.iconsave:before { content: "\e626"; }
.iconinformation:before { content: "\e637"; }
.iconxiaoyu:before { content: "\e618"; }
.iconbaoxue:before { content: "\e624"; }
.iconbaoyu:before { content: "\e611"; }
.iconbingbao:before { content: "\e61d"; }
.icondaxue:before { content: "\e612"; }
.icondayu:before { content: "\e613"; }
.iconduoyun:before { content: "\e614"; }
.iconfeng:before { content: "\e615"; }
.iconlei:before { content: "\e616"; }
.iconleizhengyu:before { content: "\e61e"; }
.iconmai:before { content: "\e61f"; }
.iconshachengbao:before { content: "\e620"; }
.iconwu:before { content: "\e621"; }
.iconxiaoxue:before { content: "\e617"; }
.iconzhenyu:before { content: "\e634"; }
.iconzhongxue:before { content: "\e635"; }
.iconzhongyu:before { content: "\e636"; }
.iconyin:before { content: "\e619"; }
.iconyujiaxue:before { content: "\e622"; }
.iconzhengxue:before { content: "\e623"; }
.iconenter:before { content: "\e61c"; }
.iconhead:before { content: "\e61b"; }
.iconlock:before { content: "\e61a"; }
.icontie:before { content: "\e698"; }
.iconante:before { content: "\e699"; }
.iconhelp:before { content: "\e606"; }
.iconheart:before { content: "\e696"; }
.iconword:before { content: "\e605"; }
.iconpointer:before { content: "\e687"; }
.iconcode1:before { content: "\e686"; }
.iconremarks:before { content: "\e685"; }
.iconbubble:before { content: "\e604"; }
.iconset:before { content: "\e60a"; }
.icontitle2:before { content: "\e66f"; }
.iconsliderh:before { content: "\e695"; }
.iconsliderv:before { content: "\e684"; }
.iconverification:before { content: "\e694"; }
.iconunlock:before { content: "\e693"; }
.iconmistake:before { content: "\e691"; }
.iconpass:before { content: "\e692"; }
.iconnewtab:before { content: "\e60c"; }
.iconqing:before { content: "\e60b"; }
.iconcoremail:before { content: "\e690"; }
.iconclock:before { content: "\e68f"; }
.iconmyschedule:before { content: "\e689"; }
.iconoa:before { content: "\e68a"; }
.iconresearch:before { content: "\e68b"; }
.iconrss:before { content: "\e68c"; }
.iconyi:before { content: "\e68d"; }
.iconyoudao:before { content: "\e68e"; }
.iconcheck:before { content: "\e680"; }
.iconcompanyfile:before { content: "\e681"; }
.iconhubfile:before { content: "\e682"; }
.iconmyfile:before { content: "\e688"; }
.icondynamicpassword:before { content: "\e67f"; }
.iconinbox:before { content: "\e67e"; }
.iconcreate:before { content: "\e67d"; }
.iconaccfile:before { content: "\e67c"; }
.iconadjust:before { content: "\e683"; }
.iconcenter:before { content: "\e67a"; }
.iconhome:before { content: "\e6a6"; }
.iconlogout:before { content: "\e67b"; }
.noline_close:before { content: "\e610"; }
.noline_open:before { content: "\e603"; }
.iconalignleft:before { content: "\e66a"; }
.iconalignright:before { content: "\e66b"; }
.iconbold:before { content: "\e69f"; }
.iconfontbackground:before { content: "\e6a0"; }
.iconfontcolor:before { content: "\e6a1"; }
.iconfontsize:before { content: "\e6a2"; }
.iconfonts:before { content: "\e6a3"; }
.iconitalics:before { content: "\e6a5"; }
.iconsequence:before { content: "\e69b"; }
.iconunderline:before { content: "\e69c"; }
.iconindentationleft:before { content: "\e676"; }
.iconindentationright:before { content: "\e677"; }
.iconsequencenum:before { content: "\e678"; }
.iconsequenceother:before { content: "\e679"; }
.iconalign:before { content: "\e69e"; }
.iconaligncenter:before { content: "\e669"; }
.iconring:before { content: "\e609"; }
.iconround:before { content: "\e675"; }
.iconxtbegin:before { content: "\e673"; }
.iconxtnext:before { content: "\e674"; }
.iconcs:before { content: "\e672"; }
.iconvote:before { content: "\e671"; }
.iconedit:before { content: "\e608"; }
.iconindentation:before { content: "\e6a4"; }
.iconsetschedule:before { content: "\e670"; }
.icontipsc:before { content: "\e6ac" ; }
.icondownloadc:before { content: "\e6ab"; }
.icondelc:before { content: "\e6aa" ;}
.iconmaillist:before { content: "\e6ae"; }
.iconfaceerror:before { content: "\e6af"; }
.iconmaillistb:before { content: "\e6b0"; }
.iconqr:before { content: "\e6b1"; }
.iconsms:before { content: "\e6b2"; }
.icondp:before { content: "\e6b3"; }
.iconwindows:before { content: "\e6b4"; }
.iconstarline:before { content: "\e6b5"; }
.iconunknownapp:before { content: "\e6b6";}
.iconrad:before { content: "\e6b9"; }
.iconsystemapp:before { content: "\e6b7"; }
.iconotherapp:before { content: "\e6b8"; }
.iconspreadapp:before { content: "\e6ba"; }
.iconfingerprint:before { content: "\e6bb"; }
.iconlogonew:before { content: "\e66f"; }
.iconyunos:before { content: "\e6bc"; }
.iconwindowsce:before { content: "\e6bd"; }
.iconwindowsos:before { content: "\e6be"; }
.iconblackberry:before { content: "\e6bf"; }
.iconchromeos:before { content: "\e6c0"; }
.iconlinuxos:before { content: "\e6c1"; }
.iconmacos:before { content: "\e6c2"; }
.iconsymbian:before { content: "\e6c3"; }
.iconmoblie:before { content: "\e6c4"; }
.iconsetupcenter:before { content: "\e6c5"; }
.iconbackup:before { content: "\e6c6"; }
.iconinfo:before { content: "\e6c7"; }
.iconms:before { content: "\e6c8"; }
.iconlunkrlogo:before { content: "\e6c9"; }
.iconpreviouspage:before { content: "\e6ca"; }
.iconnextpage:before { content: "\e6cb"; }
.iconsetevent:before { content: "\e82c"; }